<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" *ngFor="let collection of collections">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <img src="{{collection.image}}" alt="{{collection.name}}" class="img" style="width:100%" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{collection.name}}</h4>
                        <p class="card-category"> {{collection.company}} - {{collection.year}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {{collection.totalItems}} itens
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>